.control-center {
  background-color: rgba(30, 30, 46, 0.51);
  border: 3px solid rgba(250, 179, 135, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  transition: background-color 0.1s ease;
  padding: 10px;
}

.control-center .control-center-list {
  background-color: rgba(250, 179, 135, 0);
}

.close-button {
  /* The notification Close Button */
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  text-shadow: none;
  padding: 0;
  border-radius: 8px;
  margin-top: 14px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: rgba(250, 179, 135, 0.2);
  border: none;
}

.notification {
  background-color: rgba(30, 30, 46, 0.51);
  border: 3px solid rgba(250, 179, 135, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  transition: background-color 0.1s ease;
  padding: 10px;
  margin: 6px 0px;
}

.notification:hover {
  background-color: rgba(145, 102, 74, 0.51);
}
.notification-default-action:hover,
.notification-content:hover {
  background-color: transparent;
}

.floating-notifications {
  padding: 10px; 
  margin-top: 20px;
  margin-right: 20px;
}

.floating-notifications .notification-row {
    margin-bottom: 2px;
}

.widget-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


/* Remover completamente a scrollbar no GTK4 (SwayNC) */
scrollbar {
    background: transparent;
    color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}
scrollbar slider {
    background: transparent;
    color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}
scrollbar trough {
    background: transparent;
    color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}
