@define-color base rgba(30, 30, 46, 0.6);

@define-color border #fab387;

@define-color color1 rgba(250, 179, 135, 0.5);

@define-color color2 #a6e3a1;

@define-color color3 #fab387;

@define-color white rgba(250, 179, 135, 0.2);

@define-color red rgba(243, 139, 168, 0.6);