
 * {
    font-family: /*"SF Pro Display", */"GeistMono Nerd Font Propo";
    font-size: 14px;
    font-weight: bold;

}

window#waybar {
    background-color: rgba(30, 30, 46, 0.7);
    border: 3px solid rgba(250, 179, 135, 0.8);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
    color: #ffffff;
}



#workspaces button {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.1);
    background: rgba(100, 114, 125, 0.3);
    border-radius: 50%;
    margin: 24px 12px;
    padding: 0px 4px;
}
#workspaces button.empty {
    color: transparent
}
#workspaces button.active {
    font-size: 24px;
    font-weight: bold;
    color: #fab387;
}
#workspaces button.urgent {
    background-color: rgba(235, 77, 75, 0.8);
}

#workspaces button:hover {
    border: 3px solid rgba(250, 179, 135, 0.8);
}




/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-wallpaper,
#custom-menu,
#custom-notification, 
#custom-clipboard {
    font-size: 24px;
    color: #fab387;
    border: 2px solid rgba(250, 179, 135, 0.5);
    border-radius: 3px;
    background: rgba(250, 179, 135, 0.5);
    margin: 16px 7px;
    padding: 0px 10px;   
}

#custom-power {
    margin-right: 14px;

}
#custom-menu {
    margin-left: 14px;
}

#clock:hover,
#battery:hover,
#memory:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#custom-power:hover,
#custom-wallpaper:hover,
#custom-menu:hover,
#custom-notification:hover,
#custom-clipboard:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(250, 179, 135, 0.8);
}



#battery {
    font-size: 26px;
}
#battery.charging, #battery.plugged {
    color: #a6e3a1;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
