@import "colors.css";

* {
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;

}

#waybar {
    background-color: @base;
    border: 3px solid @border;
    border-radius: 8px;
}



#workspaces button {
    font-size: 24px;
    font-weight: bold;
    color: @color1;
    border: 3px solid @white;
    background: @white;
    border-radius: 100%;
    margin: 12px 20px;
    padding: 0px 4px;
}

#workspaces button.empty {
    color: transparent
}

#workspaces button.active {
    font-size: 24px;
    font-weight: bold;
    border-color: @border;
    color: @border;
}

#workspaces button.urgent {
    background-color: @red;
}

#workspaces button:hover {
    border: 3px solid @border;
}



/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}



#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-wallpaper,
#custom-menu,
#custom-notification,
#custom-clipboard {
    font-size: 28px;
    color: @border;
    padding: 0px;
    border: 2px solid @border;
    border-radius: 8px;
    background: @color1;
    margin: 4px 14px;
}

#clock:hover,
#battery:hover,
#memory:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#custom-power:hover,
#custom-wallpaper:hover,
#custom-menu:hover,
#custom-notification:hover,
#custom-clipboard:hover {
    background: @white;
    border: 2px solid @border;
}

#clock {
    font-size: 26px;
    font-family: "GeistMono Nerd Font Propo";
}

#tray {
    padding: 6px 0px;
}

#custom-menu {
    margin-top: 12px;
}

#custom-power {
    margin-bottom: 12px;
}



#battery.charging,
#battery.plugged {
    color: @color2;
}

@keyframes blink {
    to {
        background-color: white;
        color: black;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}