* {
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;

}



window#waybar {
    background-color: rgba(30, 30, 46, 0.7);
    border: 3px solid rgba(250, 179, 135, 0.8);
    box-shadow: 0px 4px 8px 0px #00000080;
    color: #ffffff;
}



#workspaces button {
    color: #fab387;
    border: 3px solid rgb(250, 179, 135);
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}
#workspaces button.focused {
    background-color: #64727D;

}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#workspaces button,
#custom-power,
#custom-wallpaper{
    font-size: 24px;
    color: #fab387;
    padding: 12px 0 12px 0;
    border: 3px solid rgba(250, 179, 135, 0.6);
    border-radius: 10px;
    background: rgba(30, 30, 46, 1);
    margin: 0 6px 0 6px;
}



#battery {
    font-size: 28px;
}

#battery.charging, #battery.plugged {
    color: #9fc92e;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



label:focus {
    background-color: #000000;
}



#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}