@define-color base rgba(60, 56, 54, 0.7);

@define-color border #d79921;

@define-color color1 rgba(250, 179, 135, 0.5);

@define-color color2 #8ec07c;

@define-color white rgba(215, 153, 33, 0.2);

@define-color red rgba(204, 36, 29, 0.6);