@define-color base rgba(60, 56, 54, 0.7);

@define-color border #ebdbb2;

@define-color color1 rgba(235, 219, 178, 0.5);

@define-color color2 #8ec07c;

@define-color color3 #d79921;

@define-color white rgba(235, 219, 178, 0.2);

@define-color red rgba(204, 36, 29, 0.6);